@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: #d6e2f0;
    
    
}


main{
 max-width: 320px;
 background-color: #fff;
 padding: 1rem;
 border-radius: 20px;
 
}

 img {
    width: 100%;
    border-radius: 10px;
}

 .title{
    font-size: 1.375rem;
    color: #1f3251;
    font-weight: 700;
    margin:  0.938rem;
    text-align: center;
}


 .info{
    font-size: 0.9375rem;
    color: #7b879d;
    margin:  0.938rem;
    letter-spacing: 0.015rem;
    text-align: center;
}